/* Global */
/* Thank you to Cool Kitten on the responsive parallax framework http://jalxob.com/cool-kitten */

@import url(http://fonts.googleapis.com/css?family=Rammetto+One);
@import url(http://fonts.googleapis.com/css?family=Aladin);
@import url(http://fonts.googleapis.com/css?family=Lato);


@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Patua+One);

body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #a9d3d0;
	line-height: 25px;
	
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}



	
	
/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	background: url('../images/topheader.jpg') repeat-x;
	height:96px;  
	z-index:100;
}
#logo {
	text-align: left;
	margin: 0px 0;
	position:absolute;
	height:93px;
}
#nav {
	text-align: left;
	margin: 0px 0 0 0;
	padding:33px 22px;
}
.navigation{
	letter-spacing: 1px;
	float: right;
	list-style: none;
	margin: 0;
	font-family: 'Belgrano',serif;
}
.navigation li{
	float: left;
	padding:0 0 0 35px;
}
.navigation li:hover{
	cursor:pointer;
	color: #8fae00;
	font-family: 'Belgrano',serif;
}

.navigation .active{
	cursor:pointer;
	/*color: #8fae00;*/
	font-weight:normal;	
	font-family: 'Belgrano',serif;
}



/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:120px 0 160px 0;
}


/* Miscellaneous */ 

#bigbutton { 
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 2px;
  width: 280px;
  height: 50px;
  background-color: #153F44;
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 25px;

}

#bigbutton:hover {opacity: 0.6; }


#decorative {
position:relative;
animation-name:myfirst;
animation-duration:5s;
animation-timing-function:linear;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:5s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
}

@keyframes myfirst
{
0%   {background:none; left:0px; top:0px;}
25%  {background:none; left:0px; top:20px;}
50%  {background:none; left:0px; top:0px;}
75%  {background:none; left:0px; top:20px;}
100% {background:none; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:none; left:0px; top:0px;}
25%  {background:none; left:0px; top:20px;}
50%  {background:none; left:0px; top:00px;}
75%  {background:none; left:0px; top:20px;}
100% {background:none; left:0px; top:0px;}
}


#decorative-bailey {
position:relative;
animation-name:myfirst;
animation-duration:5s;
animation-timing-function:linear;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:5s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
margin-top:-200px;
}

@keyframes myfirst
{
0%   {background:none; left:0px; top:0px;}
25%  {background:none; left:0px; top:20px;}
50%  {background:none; left:0px; top:0px;}
75%  {background:none; left:0px; top:20px;}
100% {background:none; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:none; left:0px; top:0px;}
25%  {background:none; left:0px; top:20px;}
50%  {background:none; left:0px; top:00px;}
75%  {background:none; left:0px; top:20px;}
100% {background:none; left:0px; top:0px;}
}


#bubbles { 
	height: 100%;
	padding: 100px 0;	
}

.bubble {
    width: 30px;
    height: 30px;
    background: #54c0da;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 350px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 470px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 150px;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}




/* Slide 1 */ 


#slide1{
	background: #26a5c3 url('../images/slide1-bg.jpg') repeat-x; 
	height: 1027px;
	color: #7C5649;
}



#slide1 h1 {
	font-family: 'Patua One', cursive;
	font-size: 2.8em;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	letter-spacing: 2px;
	line-height: 0;
	color:#664436;
	padding: 0;
}
#slide1 h2 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	font-size: 2.1em;
/*	margin-top: -35px;*/
	color: #664436;
	line-height: 5px;
	padding: 0 0 35px 0;
}
#slide1 h4 {
	font-family: 'Patua One', cursive;
	font-size: 1.6em;
	font-weight: normal;
	text-shadow:0 1px 1px #fff;
	/*margin-top: -18px;*/
	letter-spacing: .85px;
	line-height: 0;
	color:#C05B2C;
}

#slide1 p {
	font-size: 1.2em;
	color: #7D584A;
	line-height: 26px;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
}


/* Slide 2 */ 

#slide2{
	background-image:url('../images/slide2-back.png');
	background-color:#26a5c3;
	color:#fff;
}
#slide2 h1 {
	font-family: 'Patua One', cursive;
	font-size: 2.8em;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	letter-spacing: 2px;
	line-height: 0px;
	color:#dbfc41;
	padding-bottom: 0;
}
#slide2 h2 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	font-size: 1.5em;
	color: #AFE0E9;
	line-height: 28px;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-bottom:10px;
}

#slide2 h3 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	font-size: 2.6em;
	color: #AFE0E9;
	line-height: 28px;
	letter-spacing: 1px;
	margin: 0 0 0 -20px;
	padding-top: 0px;
	padding-bottom:40px;
		
}

#slide2 h4 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	font-size: 1.8em;
	color: #fff;
	line-height: 28px;
	text-align: center;
	letter-spacing: 1px;
	margin: 70px 0 0 0px;
	padding-top: 0px;
	padding-bottom:10px;
		
}

#slide2 p {
	font-size: .95em;
	color: #fff;
	line-height: 22px;
	padding-bottom:10px;
	
}

#slide2 a:link {
	color: #dbfc41;
	text-decoration: none;
}

#slide2 a:hover {
	color: #bde2df;
	text-decoration: none;
}

#slide2 a:visited {
	color: #F78D1D;
	text-decoration: none;
}


/* Slide 3 */ 

#slide3{
	background-image:url('../images/slide3-back.png');
	background-color:#2589a1;
	color:#ffffff;
}
#slide3 h1 {
	font-family: 'Patua One', cursive;
	font-size: 2.8em;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	letter-spacing: 2px;
	line-height: 0px;
	color:#dbfc41;
	padding-bottom: 0;
}
#slide3 h2 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	font-size: 1.5em;
	color: #AFE0E9;
	line-height: 28px;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-bottom:10px;
}

#slide3 h3 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	font-size: 2.6em;
	color: #AFE0E9;
	line-height: 28px;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-bottom:20px;
	
}

#slide3 p {
	font-size: .95em;
	color: #fff;
	line-height: 22px;
	padding-bottom:0px;
}


#slide3 .mylist li { 
	list-style-type: none; 
	margin: 0 0 0 -32px; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	border-bottom: 1px solid #58B7DD;
	
}

#slide3 .mylist li a {
	font-size: 15px; 
	text-decoration: none; 
	list-style: none; 
	width: auto; 
	margin: 0;
	background: none; 
	padding: 0 0 0 0;   
	
}
	
	
#slide3 .mylist ul { 
	color: #fff; 
	list-style: none; 
	margin: 0; 
	line-height: 200%;  
	
}


#slide3 a:link {
	color: #dbfc41;
	text-decoration: none;
}

#slide3 a:hover {
	color: #bde2df;
	text-decoration: none;
}

#slide3 a:visited {
	color: #F78D1D;
	text-decoration: none;
}






/* Slide 4 */

#slide4{
	background-image:url('../images/slide4-back.png');
	background-color:#134f5e;
	color:#fff;
}
#slide4 h1 {
	font-family: 'Patua One', cursive;
	font-size: 2.8em;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	letter-spacing: 2px;
	line-height: 0px;
	color:#dbfc41;
	padding-bottom: 0;
}
#slide4 h2 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	font-size: 1.5em;
	color: #AFE0E9;
	line-height: 28px;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-bottom:10px;
}

#slide4 p {
	font-size: .95em;
	color: #fff;
	line-height: 22px;
	padding-bottom:0px;
}


#slide4 a:link {
	color: #dbfc41;
	text-decoration: none;
}

#slide4 a:hover {
	color: #bde2df;
	text-decoration: none;
}

#slide4 a:visited {
	color: #F78D1D;
	text-decoration: none;
}





/* Slide 5 */

#slide5{
	background-image:url('../images/slide4-back.png');
	background-color:#042d37;
	color:#fff;
}
#slide5 h1 {
	font-family: 'Patua One', cursive;
	font-size: 2.8em;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	letter-spacing: 2px;
	line-height: 0px;
	color:#dbfc41;
	padding-bottom: 0;
}
#slide5 h2 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	text-shadow:0 1px 1px #333333;
	font-size: 1.5em;
	color: #AFE0E9;
	line-height: 28px;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-bottom:10px;
}

#slide5 p {
	font-size: .95em;
	color: #fff;
	line-height: 22px;
	padding-bottom:0px;
}


#slide5 a:link {
	color: #dbfc41;
	text-decoration: none;
}

#slide5 a:hover {
	color: #bde2df;
	text-decoration: none;
}

#slide5 a:visited {
	color: #F78D1D;
	text-decoration: none;
}



/* Footer */

#footer {
	background: #144f5f url('../images/footer-bg.jpg') repeat-x;
	width: 100%;
	height: 60px;
	/*padding-top: 5px;*/

}

#footer-inner {
	background: none;
	margin: 0 auto 0 auto;
	padding-top: 10px;
}

#footer h1 {
	font-family: 'Patua One', cursive;
	font-size: 8em;
	letter-spacing: 0px;
	line-height: 0px;
	color:#dbfc41;
	padding-bottom: 0;
}

#footer h2 {
	font-family: 'Belgrano',serif;
	font-weight: normal;
	font-size: 1.5em;
	color: #AFE0E9;
	line-height: 28px;
	letter-spacing: 1px;
	padding-top: 0px;
	padding-bottom:10px;
}


#footer p {
	font-size: .75em;
	color: #fff;
	line-height: 22px;
	padding-bottom:0px;
}

#footer a:link {
	color: #dbfc41;
	text-decoration: none;
}

#footer a:hover {
	color: #bde2df;
	text-decoration: none;
}

#footer a:visited {
	color: #F78D1D;
	text-decoration: none;
}




.social {

	padding: 10px;
}


.logobottom {

	float: right;
}




/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% Arial, Helvetica, sans-serif;
	padding: .7em 2em .65em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* orange buttons */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}




/* List Style */


#mainaside-right-sub1					{ width: 350px; float: left; margin: 20px 30px 0 120px; }
#mainaside-right-sub2					{ width: 350px; float: left; margin: 20px 30px 0 30px; }
#mainaside-right-sub3					{ width: 350px; float: left; margin: 20px 30px 0 100px; }



/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}




/* About Button Styles */

#othersbutton { 
	width: 100%; 
	float: left; 
	margin: 60px 20px 0 20px; 
	
}


#icon-wrapper{
	width:100%;
	float:left;
	height:100%;
	overflow: hidden;
}



/* Circle About Button Styles */


.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
	background-image: url(../images/1.jpg);
}

.ch-img-2 { 
	background-image: url(../images/2.jpg);
}

.ch-img-3 { 
	background-image: url(../images/3.jpg);
}



.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 100;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}

/* END required styles */



@media only screen and (max-width: 1300px) {  
  
  #othersbutton { 
	width: 100%; 
	float: left; 
	margin: 60px 30px 0 20px; 
	
}  
  
}

                        
@media only screen and (max-width: 650px) {
	
	#othersbutton { 
	width: 100%; 
	float: left; 
	margin: 60px 30px 0 20px; 
	
	}
}
                                  
@media only screen and (max-width: 570px) {
	
	#othersbutton { 
	width: 100%; 
	float: left; 
	margin: 40px 30px 0 20px; 	
	}
	

}





/* Tablet */

@media screen and (max-width: 1024px) {



#mySwipe {
	width: 100%;
	text-align: center;
}

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation {
	font-size: 1.1em;			
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	font-family: 'Belgrano',serif;
	padding:0;
}

.menu {
	background: #50433b;
}

.slide {
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#decorative {
	width: 50%;
	margin-top: -730px;
	float: right;

}

#decorative-bailey {
	width: 80%;
}


#nodog  {
	display: none;
	width: 0.1em;
}

#content {
	text-align:center;
	width:100%;
}

#bubbles {
	display: none;
}

#slide1 {
	background: #26a5c3 url('../images/slide1-pad3.jpg') no-repeat;
}

#slide1 h1 {
	line-height: 1.3em;
	font-size: 4em;
	text-align: left;
}
#slide1 h4 {
	line-height: 1em;
	font-size: 2.8em;
/*	margin-top: -85px;*/
	text-align: left;
}
#slide1 h2 {
	line-height: 1em;
	font-size: 2em;
	text-align: left;
	margin-top: -50px;
	width: 230px;
}

#slide1 p {
	line-height: 1.4em;
	font-size: 1em;
	text-align: left;
	width: 230px;
}


#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide2 h3 {
	line-height: 1em;
	font-size: 2em;
	text-align: center;
}
#slide2 h4 {
	font-size: 1.5em;
	line-height: 28px;
	text-align: center;
		
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}



/* Direction Nav */
.flex-direction-nav {
	display: none;
}

#bigbutton {
	text-align: center;
	margin: 0 auto 0 auto;
}

#mainaside-right-sub1 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
}

#mainaside-right-sub2 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
}

#footer {
	background: #144f5f url('../images/footer-slither.jpg') repeat-x;
	font-size: .95em;
	text-align: center;
}

.logobottom {
	display: none;
}

.flexslider .slides {
	width: 100%;
}

 #othersbutton { 
	width: 100%; 
	float: left; 
	margin: 60px 30px 0 20px; 
	
}
}



/* Mobile */
@media screen and (max-width: 480px) {


#mySwipe {
	width: 100%;
	text-align: center;
}

#logo {
	display: none;
}

#nav {
	width:100%;
	margin: 10px 0;
}

.navigation{
	font-size: .90em;
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation li{
	float: left;
	width: 25%;
}

.slide{
	background-attachment: fixed;
	width: 100%;
	position: relative;
	padding:150px 0;
}

.menu{
	background: #50433b;
}

#decorative {
	display: none;	
}


/* Direction Nav */
.flex-direction-nav {
	display: none;
}

#bigbutton {	 
	  font-size: 1.1em;
	  text-align: center;
	  margin: 0 auto 0 auto;
	  letter-spacing: 2px;
	  width: 90%;
	  background-color: #153F44;
	  moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border: none;
	  margin-top: 0px;
	  margin-bottom: 10px;
	  padding-top: 25px;
}

.flexslider .slides {
	width: 100%;
}

#mainaside-right-sub1 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
}

#mainaside-right-sub2 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
}


#footer p {
	font-size: .70em;
	line-height: 1.7em;
	text-align: center;
	width: 100%;
}


.logobottom {
	display: none;
}

#nodog {
	display: none;
}

#bubbles {
	display: none;
}



#slide1 h1 {
	line-height: 2.2em;
	font-size: 3.0em;
	text-align: center;	
}
#slide1 {
	background: #e8e7e5;
	padding-top: 30px;
	padding-bottom: 10px;
	
}
#slide1 h4 {
	line-height: 1em;
	font-size: 2.5em;
	margin-top: -85px;
	text-align: center;
	
}
#slide1 p {
	line-height: 1.5em;
	font-size: 1.0em;
	text-align: center;
	
}
#slide1 h2 {
	line-height: 1em;
	font-size: 2em;
	text-align: center;
	
}
#slide2 h1 {
	line-height: 2.2em;
	font-size: 4.0em;
}
#slide2 h3 {
	line-height: 1em;
	font-size: 2.2em;
	text-align: center;
	margin-left: 20px;
}
#slide2 h4 {
	line-height: 1em;
	font-size: 1.8em;
}

#slide2 h2 {
	line-height: 1em;
	font-size: 2em;
}
#slide3 h1 {
	line-height: 2.2em;
	font-size: 4.0em;
}
#slide3 h4 {
	line-height: 1em;
	font-size: 2.5em;
	margin-top: -85px;
}

#slide3 h2 {
	line-height: 1em;
	font-size: 2em;
}
#slide3 h3 {
	line-height: 1em;
	font-size: 2em;
}
#slide4 h1 {
	line-height: 2.2em;
	font-size: 4.0em;
}
#slide4 h2 {
	line-height: 1em;
	font-size: 2em;
}

#slide4 h4 {
	line-height: 1em;
	font-size: 2.5em;
	margin-top: -85px;
}

#othersbutton { 
	width: 90%; 
	float: left; 
	margin: 60px 0px 0 0px; 
	
}

.ch-item {
	width: 90%;
	height: 90%;

}

.ch-img-1 { 
	width: 90%;
	height: 90%;
}

.ch-img-2 { 
	width: 90%;
	height: 90%;
}

.ch-img-3 { 
	width: 90%;
	height: 90%;
}
}
